@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #0b1c30;
  --primary: #091426;
  --on-primary: #ffffff;
  --secondary: #4648d4;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #eff4ff;
  --surface-container-high: #dce9ff;
  --outline-variant: #c5c6cd;
  --on-surface-variant: #45474c;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
